<option value="https://www.realestate.if.ua/region/city/bolekhiv/">місто Болехів</option>
<option value="https://www.realestate.if.ua/region/city/bolekhiv/apartment/">місто Болехів - Квартири</option>
<option value="https://www.realestate.if.ua/region/city/bolekhiv/commercial/">місто Болехів - Комерційна нерухомість</option>
<option value="https://www.realestate.if.ua/region/city/bolekhiv/house/">місто Болехів - Будинки</option>
<option value="https://www.realestate.if.ua/region/city/bolekhiv/land/">місто Болехів - Земля</option>
<option value="https://www.realestate.if.ua/region/city/burshtyn/">місто Бурштин</option>
<option value="https://www.realestate.if.ua/region/city/burshtyn/apartment/">місто Бурштин - Квартири</option>
<option value="https://www.realestate.if.ua/region/city/burshtyn/commercial/">місто Бурштин - Комерційна нерухомість</option>
<option value="https://www.realestate.if.ua/region/city/burshtyn/garage/">місто Бурштин - Гаражі</option>
<option value="https://www.realestate.if.ua/region/city/burshtyn/house/">місто Бурштин - Будинки</option>
<option value="https://www.realestate.if.ua/region/city/burshtyn/land/">місто Бурштин - Земля</option>
<option value="https://www.realestate.if.ua/region/city/burshtyn/rent/">місто Бурштин - Оренда</option>
<option value="https://www.realestate.if.ua/region/city/ivano-frankivsk/">місто Івано-Франківськ</option>
<option value="https://www.realestate.if.ua/region/city/ivano-frankivsk/agency/">місто Івано-Франківськ - Агенції</option>
<option value="https://www.realestate.if.ua/region/city/ivano-frankivsk/apartment/">місто Івано-Франківськ - Квартири</option>
<option value="https://www.realestate.if.ua/region/city/ivano-frankivsk/commercial/">місто Івано-Франківськ - Комерційна нерухомість</option>
<option value="https://www.realestate.if.ua/region/city/ivano-frankivsk/developer/">місто Івано-Франківськ - Забудовники</option>
<option value="https://www.realestate.if.ua/region/city/ivano-frankivsk/garage/">місто Івано-Франківськ - Гаражі</option>
<option value="https://www.realestate.if.ua/region/city/ivano-frankivsk/house/">місто Івано-Франківськ - Будинки</option>
<option value="https://www.realestate.if.ua/region/city/ivano-frankivsk/land/">місто Івано-Франківськ - Земля</option>
<option value="https://www.realestate.if.ua/region/city/ivano-frankivsk/realtor/">місто Івано-Франківськ - Продавці, агенти і рієлтори</option>
<option value="https://www.realestate.if.ua/region/city/ivano-frankivsk/rent/">місто Івано-Франківськ - Оренда</option>
<option value="https://www.realestate.if.ua/region/city/kalush/">місто Калуш</option>
<option value="https://www.realestate.if.ua/region/city/kalush/apartment/">місто Калуш - Квартири</option>
<option value="https://www.realestate.if.ua/region/city/kalush/commercial/">місто Калуш - Комерційна нерухомість</option>
<option value="https://www.realestate.if.ua/region/city/kalush/house/">місто Калуш - Будинки</option>
<option value="https://www.realestate.if.ua/region/city/kalush/land/">місто Калуш - Земля</option>
<option value="https://www.realestate.if.ua/region/city/kalush/rent/">місто Калуш - Оренда</option>
<option value="https://www.realestate.if.ua/region/city/kolomyia/">місто Коломия</option>
<option value="https://www.realestate.if.ua/region/city/kolomyia/apartment/">місто Коломия - Квартири</option>
<option value="https://www.realestate.if.ua/region/city/kolomyia/commercial/">місто Коломия - Комерційна нерухомість</option>
<option value="https://www.realestate.if.ua/region/city/kolomyia/garage/">місто Коломия - Гаражі</option>
<option value="https://www.realestate.if.ua/region/city/kolomyia/house/">місто Коломия - Будинки</option>
<option value="https://www.realestate.if.ua/region/city/kolomyia/land/">місто Коломия - Земля</option>
<option value="https://www.realestate.if.ua/region/city/kolomyia/rent/">місто Коломия - Оренда</option>
<option value="https://www.realestate.if.ua/region/city/yaremche/">місто Яремче</option>
<option value="https://www.realestate.if.ua/region/city/yaremche/apartment/">місто Яремче - Квартири</option>
<option value="https://www.realestate.if.ua/region/city/yaremche/commercial/">місто Яремче - Комерційна нерухомість</option>
<option value="https://www.realestate.if.ua/region/city/yaremche/house/">місто Яремче - Будинки</option>
<option value="https://www.realestate.if.ua/region/city/yaremche/land/">місто Яремче - Земля</option>
<option value="https://www.realestate.if.ua/region/city/yaremche/rent/">місто Яремче - Оренда</option>
<option value="https://www.realestate.if.ua/district/ivano-frankivskyy/">Івано-Франківський район</option>
<option value="https://www.realestate.if.ua/district/ivano-frankivskyy/apartment/">Івано-Франківський район - Квартири</option>
<option value="https://www.realestate.if.ua/district/ivano-frankivskyy/commercial/">Івано-Франківський район - Комерційна нерухомість</option>
<option value="https://www.realestate.if.ua/district/ivano-frankivskyy/house/">Івано-Франківський район - Будинки</option>
<option value="https://www.realestate.if.ua/district/ivano-frankivskyy/land/">Івано-Франківський район - Земля</option>
<option value="https://www.realestate.if.ua/district/kaluskyy/">Калуський район</option>
<option value="https://www.realestate.if.ua/district/kaluskyy/apartment/">Калуський район - Квартири</option>
<option value="https://www.realestate.if.ua/district/kaluskyy/commercial/">Калуський район - Комерційна нерухомість</option>
<option value="https://www.realestate.if.ua/district/kaluskyy/house/">Калуський район - Будинки</option>
<option value="https://www.realestate.if.ua/district/kaluskyy/land/">Калуський район - Земля</option>
<option value="https://www.realestate.if.ua/district/kolomyyskyy/">Коломийський район</option>
<option value="https://www.realestate.if.ua/district/kolomyyskyy/apartment/">Коломийський район - Квартири</option>
<option value="https://www.realestate.if.ua/district/kolomyyskyy/house/">Коломийський район - Будинки</option>
<option value="https://www.realestate.if.ua/district/kolomyyskyy/land/">Коломийський район - Земля</option>
<option value="https://www.realestate.if.ua/district/kosivskyy/">Косівський район</option>
<option value="https://www.realestate.if.ua/district/kosivskyy/apartment/">Косівський район - Квартири</option>
<option value="https://www.realestate.if.ua/district/kosivskyy/house/">Косівський район - Будинки</option>
<option value="https://www.realestate.if.ua/district/kosivskyy/land/">Косівський район - Земля</option>
<option value="https://www.realestate.if.ua/district/nadvirnyanskyy/">Надвірнянський район</option>
<option value="https://www.realestate.if.ua/district/nadvirnyanskyy/apartment/">Надвірнянський район - Квартири</option>
<option value="https://www.realestate.if.ua/district/nadvirnyanskyy/commercial/">Надвірнянський район - Комерційна нерухомість</option>
<option value="https://www.realestate.if.ua/district/nadvirnyanskyy/house/">Надвірнянський район - Будинки</option>
<option value="https://www.realestate.if.ua/district/nadvirnyanskyy/land/">Надвірнянський район - Земля</option>
<option value="https://www.realestate.if.ua/district/verkhovynskyy/">Верховинський район</option>
<option value="https://www.realestate.if.ua/district/verkhovynskyy/apartment/">Верховинський район - Квартири</option>
<option value="https://www.realestate.if.ua/district/verkhovynskyy/commercial/">Верховинський район - Комерційна нерухомість</option>
<option value="https://www.realestate.if.ua/district/verkhovynskyy/house/">Верховинський район - Будинки</option>
<option value="https://www.realestate.if.ua/district/verkhovynskyy/land/">Верховинський район - Земля</option>
<option value="https://www.realestate.if.ua/district/verkhovynskyy/realtor/">Верховинський район - Продавці, агенти і рієлтори</option>
<option value="https://www.realestate.if.ua/district/town/dolyna/">місто Долина</option>
<option value="https://www.realestate.if.ua/district/town/dolyna/apartment/">місто Долина - Квартири</option>
<option value="https://www.realestate.if.ua/district/town/dolyna/commercial/">місто Долина - Комерційна нерухомість</option>
<option value="https://www.realestate.if.ua/district/town/dolyna/house/">місто Долина - Будинки</option>
<option value="https://www.realestate.if.ua/district/town/dolyna/land/">місто Долина - Земля</option>
<option value="https://www.realestate.if.ua/district/town/halych/">місто Галич</option>
<option value="https://www.realestate.if.ua/district/town/halych/apartment/">місто Галич - Квартири</option>
<option value="https://www.realestate.if.ua/district/town/halych/commercial/">місто Галич - Комерційна нерухомість</option>
<option value="https://www.realestate.if.ua/district/town/halych/house/">місто Галич - Будинки</option>
<option value="https://www.realestate.if.ua/district/town/halych/land/">місто Галич - Земля</option>
<option value="https://www.realestate.if.ua/district/town/horodenka/">місто Городенка</option>
<option value="https://www.realestate.if.ua/district/town/horodenka/apartment/">місто Городенка - Квартири</option>
<option value="https://www.realestate.if.ua/district/town/horodenka/house/">місто Городенка - Будинки</option>
<option value="https://www.realestate.if.ua/district/town/horodenka/land/">місто Городенка - Земля</option>
<option value="https://www.realestate.if.ua/district/town/kosiv/">місто Косів</option>
<option value="https://www.realestate.if.ua/district/town/kosiv/apartment/">місто Косів - Квартири</option>
<option value="https://www.realestate.if.ua/district/town/kosiv/house/">місто Косів - Будинки</option>
<option value="https://www.realestate.if.ua/district/town/kosiv/land/">місто Косів - Земля</option>
<option value="https://www.realestate.if.ua/district/town/nadvirna/">місто Надвірна</option>
<option value="https://www.realestate.if.ua/district/town/nadvirna/apartment/">місто Надвірна - Квартири</option>
<option value="https://www.realestate.if.ua/district/town/nadvirna/commercial/">місто Надвірна - Комерційна нерухомість</option>
<option value="https://www.realestate.if.ua/district/town/nadvirna/house/">місто Надвірна - Будинки</option>
<option value="https://www.realestate.if.ua/district/town/nadvirna/land/">місто Надвірна - Земля</option>
<option value="https://www.realestate.if.ua/district/town/nadvirna/rent/">місто Надвірна - Оренда</option>
<option value="https://www.realestate.if.ua/district/town/rohatyn/">місто Рогатин</option>
<option value="https://www.realestate.if.ua/district/town/rohatyn/apartment/">місто Рогатин - Квартири</option>
<option value="https://www.realestate.if.ua/district/town/rohatyn/house/">місто Рогатин - Будинки</option>
<option value="https://www.realestate.if.ua/district/town/rohatyn/land/">місто Рогатин - Земля</option>
<option value="https://www.realestate.if.ua/district/town/rohatyn/rent/">місто Рогатин - Оренда</option>
<option value="https://www.realestate.if.ua/district/town/sniatyn/">місто Снятин</option>
<option value="https://www.realestate.if.ua/district/town/sniatyn/apartment/">місто Снятин - Квартири</option>
<option value="https://www.realestate.if.ua/district/town/sniatyn/commercial/">місто Снятин - Комерційна нерухомість</option>
<option value="https://www.realestate.if.ua/district/town/sniatyn/house/">місто Снятин - Будинки</option>
<option value="https://www.realestate.if.ua/district/town/sniatyn/land/">місто Снятин - Земля</option>
<option value="https://www.realestate.if.ua/district/town/sniatyn/rent/">місто Снятин - Оренда</option>
<option value="https://www.realestate.if.ua/district/town/tlumach/">місто Тлумач</option>
<option value="https://www.realestate.if.ua/district/town/tlumach/apartment/">місто Тлумач - Квартири</option>
<option value="https://www.realestate.if.ua/district/town/tlumach/house/">місто Тлумач - Будинки</option>
<option value="https://www.realestate.if.ua/district/town/tlumach/land/">місто Тлумач - Земля</option>
<option value="https://www.realestate.if.ua/district/town/tlumach/rent/">місто Тлумач - Оренда</option>
<option value="https://www.realestate.if.ua/district/town/tysmenytsya/">місто Тисмениця</option>
<option value="https://www.realestate.if.ua/district/town/tysmenytsya/apartment/">місто Тисмениця - Квартири</option>
<option value="https://www.realestate.if.ua/district/town/tysmenytsya/commercial/">місто Тисмениця - Комерційна нерухомість</option>
<option value="https://www.realestate.if.ua/district/town/tysmenytsya/house/">місто Тисмениця - Будинки</option>
<option value="https://www.realestate.if.ua/district/town/tysmenytsya/land/">місто Тисмениця - Земля</option>
<option value="https://www.realestate.if.ua/region/ivano-frankivska/">Івано-Франківська область</option>
