<option value="https://www.realestate.in.ua/region/city/boryslav/">місто Борислав</option>
<option value="https://www.realestate.in.ua/region/city/chervonohrad/">місто Червоноград</option>
<option value="https://www.realestate.in.ua/region/city/drohobych/">місто Дрогобич</option>
<option value="https://www.realestate.in.ua/region/city/lviv/">місто Львів</option>
<option value="https://www.realestate.in.ua/region/city/lviv/apartment/">місто Львів - Квартири</option>
<option value="https://www.realestate.in.ua/region/city/lviv/house/">місто Львів - Будинки</option>
<option value="https://www.realestate.in.ua/region/city/lviv/agency/">місто Львів - Агенції</option>
<option value="https://www.realestate.in.ua/region/city/lviv/developer/">місто Львів - Забудовники</option>
<option value="https://www.realestate.in.ua/region/city/lviv/realtor/">місто Львів - Продавці, агенти і ріелтори</option>
<option value="https://www.realestate.in.ua/region/city/morshyn/">місто Моршин</option>
<option value="https://www.realestate.in.ua/region/city/novyi-rozdil/">місто Новий Розділ</option>
<option value="https://www.realestate.in.ua/region/city/sambir/">місто Самбір</option>
<option value="https://www.realestate.in.ua/region/city/stryi/">місто Стрий</option>
<option value="https://www.realestate.in.ua/region/city/truskavets/">місто Трускавець</option>
<option value="https://www.realestate.in.ua/district/chervonohradskyy/">Червоноградський район</option>
<option value="https://www.realestate.in.ua/district/drohobychskyy/">Дрогобицький район</option>
<option value="https://www.realestate.in.ua/district/lvivskyy/">Львівський район</option>
<option value="https://www.realestate.in.ua/district/sambirskyy/">Самбірський район</option>
<option value="https://www.realestate.in.ua/district/stryiskyy/">Стрийський район</option>
<option value="https://www.realestate.in.ua/district/yavorivskyy/">Яворівський район</option>
<option value="https://www.realestate.in.ua/district/zolochivskyy/">Золочівський район</option>
<option value="https://www.realestate.in.ua/district/town/belz/">місто Белз</option>
<option value="https://www.realestate.in.ua/district/town/bibrka/">місто Бібрка</option>
<option value="https://www.realestate.in.ua/district/town/brody/">місто Броди</option>
<option value="https://www.realestate.in.ua/district/town/busk/">місто Буськ</option>
<option value="https://www.realestate.in.ua/district/town/dobromyl/">місто Добромиль</option>
<option value="https://www.realestate.in.ua/district/town/dubliany/">місто Дубляни</option>
<option value="https://www.realestate.in.ua/district/town/hlyniany/">місто Глиняни</option>
<option value="https://www.realestate.in.ua/district/town/horodok/">місто Городок</option>
<option value="https://www.realestate.in.ua/district/town/kamianka-buzka/">місто Кам'янка-Бузька</option>
<option value="https://www.realestate.in.ua/district/town/khodoriv/">місто Ходорів</option>
<option value="https://www.realestate.in.ua/district/town/khyriv/">місто Хирів</option>
<option value="https://www.realestate.in.ua/district/town/komarno/">місто Комарно</option>
<option value="https://www.realestate.in.ua/district/town/mostyska/">місто Мостиська</option>
<option value="https://www.realestate.in.ua/district/town/mykolaiv/">місто Миколаїв</option>
<option value="https://www.realestate.in.ua/district/town/novoiavorivsk/">місто Новояворівськ</option>
<option value="https://www.realestate.in.ua/district/town/novyi-kalyniv/">місто Новий Калинів</option>
<option value="https://www.realestate.in.ua/district/town/peremyshliany/">місто Перемишляни</option>
<option value="https://www.realestate.in.ua/district/town/pustomyty/">місто Пустомити</option>
<option value="https://www.realestate.in.ua/district/town/radekhiv/">місто Радехів</option>
<option value="https://www.realestate.in.ua/district/town/rava-ruska/">місто Рава-Руська</option>
<option value="https://www.realestate.in.ua/district/town/rudky/">місто Рудки</option>
<option value="https://www.realestate.in.ua/district/town/skole/">місто Сколе</option>
<option value="https://www.realestate.in.ua/district/town/sokal/">місто Сокаль</option>
<option value="https://www.realestate.in.ua/district/town/sosnivka/">місто Соснівка</option>
<option value="https://www.realestate.in.ua/district/town/staryi-sambir/">місто Старий Самбір</option>
<option value="https://www.realestate.in.ua/district/town/stebnyk/">місто Стебник</option>
<option value="https://www.realestate.in.ua/district/town/sudova-vyshnia/">місто Судова Вишня</option>
<option value="https://www.realestate.in.ua/district/town/turka/">місто Турка</option>
<option value="https://www.realestate.in.ua/district/town/uhniv/">місто Угнів</option>
<option value="https://www.realestate.in.ua/district/town/velyki-mosty/">місто Великі Мости</option>
<option value="https://www.realestate.in.ua/district/town/vynnyky/">місто Винники</option>
<option value="https://www.realestate.in.ua/district/town/yavoriv/">місто Яворів</option>
<option value="https://www.realestate.in.ua/district/town/zhovkva/">місто Жовква</option>
<option value="https://www.realestate.in.ua/district/town/zhydachiv/">місто Жидачів</option>
<option value="https://www.realestate.in.ua/district/town/zolochiv/">місто Золочів</option>
<option value="https://www.realestate.in.ua/region/lvivska/">Львівська область</option>
