 <option value="https://www.realestate.kh.ua/region/city/chuhuiv/">місто Чугуїв</option>
 <option value="https://www.realestate.kh.ua/region/city/izyum/">місто Ізюм</option>
 <option value="https://www.realestate.kh.ua/region/city/kharkiv/">місто Харків</option>
 <option value="https://www.realestate.kh.ua/region/city/kharkiv/agency/">місто Харків - Агенції</option>
 <option value="https://www.realestate.kh.ua/region/city/kharkiv/developer/">місто Харків - Забудовники</option>
 <option value="https://www.realestate.kh.ua/region/city/kharkiv/realtor/">місто Харків - Продавці, агенти і ріелтори</option>
 <option value="https://www.realestate.kh.ua/region/city/kupyansk/">місто Куп'янськ</option>
 <option value="https://www.realestate.kh.ua/region/city/liubotyn/">місто Люботин</option>
 <option value="https://www.realestate.kh.ua/region/city/lozova/">місто Лозова</option>
 <option value="https://www.realestate.kh.ua/region/city/pervomaiskyi/">місто Первомайський</option>
 <option value="https://www.realestate.kh.ua/district/bohodukhivskyy/">Богодухівський район</option>
 <option value="https://www.realestate.kh.ua/district/chuhuivskyy/">Чугуївський район</option>
 <option value="https://www.realestate.kh.ua/district/izyumskyy/">Ізюмський район</option>
 <option value="https://www.realestate.kh.ua/district/kharkivskyy/">Харківський район</option>
 <option value="https://www.realestate.kh.ua/district/krasnohradskyy/">Красноградський район</option>
 <option value="https://www.realestate.kh.ua/district/kupyanskyy/">Куп’янський район</option>
 <option value="https://www.realestate.kh.ua/district/lozivskyy/">Лозівський район</option>
 <option value="https://www.realestate.kh.ua/district/town/balakliia/">місто Балаклія</option>
 <option value="https://www.realestate.kh.ua/district/town/barvinkove/">місто Барвінкове</option>
 <option value="https://www.realestate.kh.ua/district/town/bohodukhiv/">місто Богодухів</option>
 <option value="https://www.realestate.kh.ua/district/town/derhachi/">місто Дергачі</option>
 <option value="https://www.realestate.kh.ua/district/town/krasnohrad/">місто Красноград</option>
 <option value="https://www.realestate.kh.ua/district/town/merefa/">місто Мерефа</option>
 <option value="https://www.realestate.kh.ua/district/town/pivdenne/">місто Південне</option>
 <option value="https://www.realestate.kh.ua/district/town/valky/">місто Валки</option>
 <option value="https://www.realestate.kh.ua/district/town/vovchansk/">місто Вовчанськ</option>
 <option value="https://www.realestate.kh.ua/district/town/zmiiv/">місто Зміїв</option>
 <option value="https://www.realestate.kh.ua/region/kharkivska/">Харківська область</option>
