{%- for option in site.data.kyiv -%}
<option value="{{ option.url }}">{{ option.title }}</option>
{%- endfor -%}
{% comment %}
<option value="https://www.realestate.kyiv.ua/region/city/berezan/">місто Березань</option>
<option value="https://www.realestate.kyiv.ua/region/city/berezan/apartment/">місто Березань - Квартири</option>
<option value="https://www.realestate.kyiv.ua/region/city/berezan/house/">місто Березань - Будинки</option>
<option value="https://www.realestate.kyiv.ua/region/city/berezan/land/">місто Березань - Земля</option>
<option value="https://www.realestate.kyiv.ua/region/city/bila-tserkva/">місто Біла Церква</option>
<option value="https://www.realestate.kyiv.ua/region/city/bila-tserkva/apartment/">місто Біла Церква - Квартири</option>
<option value="https://www.realestate.kyiv.ua/region/city/bila-tserkva/garage/">місто Біла Церква - Гаражі</option>
<option value="https://www.realestate.kyiv.ua/region/city/bila-tserkva/house/">місто Біла Церква - Будинки</option>
<option value="https://www.realestate.kyiv.ua/region/city/bila-tserkva/land/">місто Біла Церква - Земля</option>
<option value="https://www.realestate.kyiv.ua/region/city/bila-tserkva/rent/">місто Біла Церква - Оренда</option>
<option value="https://www.realestate.kyiv.ua/region/city/boryspil/">місто Бориспіль</option>
<option value="https://www.realestate.kyiv.ua/region/city/boryspil/apartment/">місто Бориспіль - Квартири</option>
<option value="https://www.realestate.kyiv.ua/region/city/boryspil/house/">місто Бориспіль - Будинки</option>
<option value="https://www.realestate.kyiv.ua/region/city/boryspil/land/">місто Бориспіль - Земля</option>
<option value="https://www.realestate.kyiv.ua/region/city/brovary/">місто Бровари</option>
<option value="https://www.realestate.kyiv.ua/region/city/brovary/apartment/">місто Бровари - Квартири</option>
<option value="https://www.realestate.kyiv.ua/region/city/brovary/commercial/">місто Бровари - Комерційна нерухомість</option>
<option value="https://www.realestate.kyiv.ua/region/city/brovary/house/">місто Бровари - Будинки</option>
<option value="https://www.realestate.kyiv.ua/region/city/bucha/">місто Буча</option>
<option value="https://www.realestate.kyiv.ua/region/city/bucha/apartment/">місто Буча - Квартири</option>
<option value="https://www.realestate.kyiv.ua/region/city/bucha/house/">місто Буча - Будинки</option>
<option value="https://www.realestate.kyiv.ua/region/city/fastiv/">місто Фастів</option>
<option value="https://www.realestate.kyiv.ua/region/city/fastiv/apartment/">місто Фастів - Квартири</option>
<option value="https://www.realestate.kyiv.ua/region/city/fastiv/house/">місто Фастів - Будинки</option>
<option value="https://www.realestate.kyiv.ua/region/city/fastiv/land/">місто Фастів - Земля</option>
<option value="https://www.realestate.kyiv.ua/region/city/fastiv/rent/">місто Фастів - Оренда</option>
<option value="https://www.realestate.kyiv.ua/region/city/irpin/">місто Ірпiнь</option>
<option value="https://www.realestate.kyiv.ua/region/city/irpin/apartment/">місто Ірпiнь - Квартири</option>
<option value="https://www.realestate.kyiv.ua/region/city/irpin/commercial/">місто Ірпiнь - Комерційна нерухомість</option>
<option value="https://www.realestate.kyiv.ua/region/city/irpin/house/">місто Ірпiнь - Будинки</option>
<option value="https://www.realestate.kyiv.ua/region/city/irpin/land/">місто Ірпiнь - Земля</option>
<option value="https://www.realestate.kyiv.ua/region/city/kyiv/">місто Київ</option>
<option value="https://www.realestate.kyiv.ua/region/city/kyiv/agency/">місто Київ - Агенції</option>
<option value="https://www.realestate.kyiv.ua/region/city/kyiv/apartment/">місто Київ - Квартири</option>
<option value="https://www.realestate.kyiv.ua/region/city/kyiv/commercial/">місто Київ - Комерційна нерухомість</option>
<option value="https://www.realestate.kyiv.ua/region/city/kyiv/developer/">місто Київ - Забудовники</option>
<option value="https://www.realestate.kyiv.ua/region/city/kyiv/garage/">місто Київ - Гаражі</option>
<option value="https://www.realestate.kyiv.ua/region/city/kyiv/house/">місто Київ - Будинки</option>
<option value="https://www.realestate.kyiv.ua/region/city/kyiv/land/">місто Київ - Земля</option>
<option value="https://www.realestate.kyiv.ua/region/city/kyiv/realtor/">місто Київ - Продавці, агенти і рієлтори</option>
<option value="https://www.realestate.kyiv.ua/region/city/kyiv/rent/">місто Київ - Оренда</option>
<option value="https://www.realestate.kyiv.ua/region/city/obukhiv/">місто Обухів</option>
<option value="https://www.realestate.kyiv.ua/region/city/obukhiv/apartment/">місто Обухів - Квартири</option>
<option value="https://www.realestate.kyiv.ua/region/city/obukhiv/garage/">місто Обухів - Гаражі</option>
<option value="https://www.realestate.kyiv.ua/region/city/obukhiv/house/">місто Обухів - Будинки</option>
<option value="https://www.realestate.kyiv.ua/region/city/obukhiv/land/">місто Обухів - Земля</option>
<option value="https://www.realestate.kyiv.ua/region/city/pereiaslav/">місто Переяслав</option>
<option value="https://www.realestate.kyiv.ua/region/city/pereiaslav/apartment/">місто Переяслав - Квартири</option>
<option value="https://www.realestate.kyiv.ua/region/city/pereiaslav/commercial/">місто Переяслав - Комерційна нерухомість</option>
<option value="https://www.realestate.kyiv.ua/region/city/pereiaslav/house/">місто Переяслав - Будинки</option>
<option value="https://www.realestate.kyiv.ua/region/city/pereiaslav/land/">місто Переяслав - Земля</option>
<option value="https://www.realestate.kyiv.ua/region/city/rzhyshchiv/">місто Ржищів</option>
<option value="https://www.realestate.kyiv.ua/region/city/slavutych/">місто Славутич</option>
<option value="https://www.realestate.kyiv.ua/region/city/slavutych/apartment/">місто Славутич - Квартири</option>
<option value="https://www.realestate.kyiv.ua/region/city/slavutych/commercial/">місто Славутич - Комерційна нерухомість</option>
<option value="https://www.realestate.kyiv.ua/region/city/slavutych/house/">місто Славутич - Будинки</option>
<option value="https://www.realestate.kyiv.ua/region/city/slavutych/land/">місто Славутич - Земля</option>
<option value="https://www.realestate.kyiv.ua/region/city/slavutych/rent/">місто Славутич - Оренда</option>
<option value="https://www.realestate.kyiv.ua/region/city/vasylkiv/">місто Василькiв</option>
<option value="https://www.realestate.kyiv.ua/region/city/vasylkiv/apartment/">місто Василькiв - Квартири</option>
<option value="https://www.realestate.kyiv.ua/region/city/vasylkiv/house/">місто Василькiв - Будинки</option>
<option value="https://www.realestate.kyiv.ua/region/city/vasylkiv/land/">місто Василькiв - Земля</option>
<option value="https://www.realestate.kyiv.ua/district/bilotserkivskyy/">Білоцерківський район</option>
<option value="https://www.realestate.kyiv.ua/district/bilotserkivskyy/apartment/">Білоцерківський район - Квартири</option>
<option value="https://www.realestate.kyiv.ua/district/bilotserkivskyy/commercial/">Білоцерківський район - Комерційна нерухомість</option>
<option value="https://www.realestate.kyiv.ua/district/bilotserkivskyy/house/">Білоцерківський район - Будинки</option>
<option value="https://www.realestate.kyiv.ua/district/boryspilskyy/">Бориспільський район</option>
<option value="https://www.realestate.kyiv.ua/district/boryspilskyy/apartment/">Бориспільський район - Квартири</option>
<option value="https://www.realestate.kyiv.ua/district/boryspilskyy/commercial/">Бориспільський район - Комерційна нерухомість</option>
<option value="https://www.realestate.kyiv.ua/district/boryspilskyy/house/">Бориспільський район - Будинки</option>
<option value="https://www.realestate.kyiv.ua/district/boryspilskyy/land/">Бориспільський район - Земля</option>
<option value="https://www.realestate.kyiv.ua/district/brovarskyy/">Броварський район</option>
<option value="https://www.realestate.kyiv.ua/district/brovarskyy/apartment/">Броварський район - Квартири</option>
<option value="https://www.realestate.kyiv.ua/district/brovarskyy/house/">Броварський район - Будинки</option>
<option value="https://www.realestate.kyiv.ua/district/brovarskyy/land/">Броварський район - Земля</option>
<option value="https://www.realestate.kyiv.ua/district/buchanskyy/">Бучанський район</option>
<option value="https://www.realestate.kyiv.ua/district/buchanskyy/apartment/">Бучанський район - Квартири</option>
<option value="https://www.realestate.kyiv.ua/district/buchanskyy/commercial/">Бучанський район - Комерційна нерухомість</option>
<option value="https://www.realestate.kyiv.ua/district/buchanskyy/house/">Бучанський район - Будинки</option>
<option value="https://www.realestate.kyiv.ua/district/buchanskyy/land/">Бучанський район - Земля</option>
<option value="https://www.realestate.kyiv.ua/district/fastivskyy/">Фастівський район</option>
<option value="https://www.realestate.kyiv.ua/district/fastivskyy/house/">Фастівський район - Будинки</option>
<option value="https://www.realestate.kyiv.ua/district/fastivskyy/land/">Фастівський район - Земля</option>
<option value="https://www.realestate.kyiv.ua/district/obukhivskyy/">Обухівський район</option>
<option value="https://www.realestate.kyiv.ua/district/obukhivskyy/apartment/">Обухівський район - Квартири</option>
<option value="https://www.realestate.kyiv.ua/district/obukhivskyy/house/">Обухівський район - Будинки</option>
<option value="https://www.realestate.kyiv.ua/district/obukhivskyy/land/">Обухівський район - Земля</option>
<option value="https://www.realestate.kyiv.ua/district/vyshhorodskyy/">Вишгородський район</option>
<option value="https://www.realestate.kyiv.ua/district/vyshhorodskyy/house/">Вишгородський район - Будинки</option>
<option value="https://www.realestate.kyiv.ua/district/vyshhorodskyy/land/">Вишгородський район - Земля</option>
<option value="https://www.realestate.kyiv.ua/district/town/bohuslav/">місто Богуслав</option>
<option value="https://www.realestate.kyiv.ua/district/town/bohuslav/apartment/">місто Богуслав - Квартири</option>
<option value="https://www.realestate.kyiv.ua/district/town/bohuslav/house/">місто Богуслав - Будинки</option>
<option value="https://www.realestate.kyiv.ua/district/town/bohuslav/land/">місто Богуслав - Земля</option>
<option value="https://www.realestate.kyiv.ua/district/town/boyarka/">місто Боярка</option>
<option value="https://www.realestate.kyiv.ua/district/town/boyarka/apartment/">місто Боярка - Квартири</option>
<option value="https://www.realestate.kyiv.ua/district/town/boyarka/house/">місто Боярка - Будинки</option>
<option value="https://www.realestate.kyiv.ua/district/town/boyarka/land/">місто Боярка - Земля</option>
<option value="https://www.realestate.kyiv.ua/district/town/kaharlyk/">місто Кагарлик</option>
<option value="https://www.realestate.kyiv.ua/district/town/kaharlyk/apartment/">місто Кагарлик - Квартири</option>
<option value="https://www.realestate.kyiv.ua/district/town/kaharlyk/house/">місто Кагарлик - Будинки</option>
<option value="https://www.realestate.kyiv.ua/district/town/kaharlyk/land/">місто Кагарлик - Земля</option>
<option value="https://www.realestate.kyiv.ua/district/town/myronivka/">місто Миронівка</option>
<option value="https://www.realestate.kyiv.ua/district/town/myronivka/apartment/">місто Миронівка - Квартири</option>
<option value="https://www.realestate.kyiv.ua/district/town/myronivka/commercial/">місто Миронівка - Комерційна нерухомість</option>
<option value="https://www.realestate.kyiv.ua/district/town/myronivka/house/">місто Миронівка - Будинки</option>
<option value="https://www.realestate.kyiv.ua/district/town/skvyra/">місто Сквира</option>
<option value="https://www.realestate.kyiv.ua/district/town/skvyra/commercial/">місто Сквира - Комерційна нерухомість</option>
<option value="https://www.realestate.kyiv.ua/district/town/skvyra/house/">місто Сквира - Будинки</option>
<option value="https://www.realestate.kyiv.ua/district/town/tarashcha/">місто Тараща</option>
<option value="https://www.realestate.kyiv.ua/district/town/tarashcha/apartment/">місто Тараща - Квартири</option>
<option value="https://www.realestate.kyiv.ua/district/town/tarashcha/house/">місто Тараща - Будинки</option>
<option value="https://www.realestate.kyiv.ua/district/town/tetiiv/">місто Тетіїв</option>
<option value="https://www.realestate.kyiv.ua/district/town/tetiiv/apartment/">місто Тетіїв - Квартири</option>
<option value="https://www.realestate.kyiv.ua/district/town/tetiiv/house/">місто Тетіїв - Будинки</option>
<option value="https://www.realestate.kyiv.ua/district/town/ukrainka/">місто Українка</option>
<option value="https://www.realestate.kyiv.ua/district/town/ukrainka/apartment/">місто Українка - Квартири</option>
<option value="https://www.realestate.kyiv.ua/district/town/ukrainka/house/">місто Українка - Будинки</option>
<option value="https://www.realestate.kyiv.ua/district/town/uzyn/">місто Узин</option>
<option value="https://www.realestate.kyiv.ua/district/town/uzyn/commercial/">місто Узин - Комерційна нерухомість</option>
<option value="https://www.realestate.kyiv.ua/district/town/uzyn/house/">місто Узин - Будинки</option>
<option value="https://www.realestate.kyiv.ua/district/town/uzyn/land/">місто Узин - Земля</option>
<option value="https://www.realestate.kyiv.ua/district/town/vyshhorod/">місто Вишгород</option>
<option value="https://www.realestate.kyiv.ua/district/town/vyshhorod/apartment/">місто Вишгород - Квартири</option>
<option value="https://www.realestate.kyiv.ua/district/town/vyshhorod/house/">місто Вишгород - Будинки</option>
<option value="https://www.realestate.kyiv.ua/district/town/vyshhorod/rent/">місто Вишгород - Оренда</option>
<option value="https://www.realestate.kyiv.ua/district/town/vyshneve/">місто Вишневе</option>
<option value="https://www.realestate.kyiv.ua/district/town/vyshneve/apartment/">місто Вишневе - Квартири</option>
<option value="https://www.realestate.kyiv.ua/district/town/vyshneve/land/">місто Вишневе - Земля</option>
<option value="https://www.realestate.kyiv.ua/district/town/vyshneve/rent/">місто Вишневе - Оренда</option>
<option value="https://www.realestate.kyiv.ua/district/town/yahotyn/">місто Яготин</option>
<option value="https://www.realestate.kyiv.ua/district/town/yahotyn/apartment/">місто Яготин - Квартири</option>
<option value="https://www.realestate.kyiv.ua/district/town/yahotyn/commercial/">місто Яготин - Комерційна нерухомість</option>
<option value="https://www.realestate.kyiv.ua/district/town/yahotyn/house/">місто Яготин - Будинки</option>
<option value="https://www.realestate.kyiv.ua/district/town/yahotyn/rent/">місто Яготин - Оренда</option>
<option value="https://www.realestate.kyiv.ua/region/kyivska/">Київська область</option>
{% endcomment %}
