<option value="https://www.realestate.lt.ua/region/city/kovel/">місто Ковель</option>
<option value="https://www.realestate.lt.ua/region/city/lutsk/">місто Луцьк</option>
<option value="https://www.realestate.lt.ua/region/city/novovolynsk/">місто Нововолинськ</option>
<option value="https://www.realestate.lt.ua/region/city/volodymyr/">місто Володимир</option>
<option value="https://www.realestate.lt.ua/district/kamin-kashyrskyy/">Камінь-Каширський район</option>
<option value="https://www.realestate.lt.ua/district/kovelskyy/">Ковельський район</option>
<option value="https://www.realestate.lt.ua/district/lutskyy/">Луцький район</option>
<option value="https://www.realestate.lt.ua/district/volodymyrskyy/">Володимирський район</option>
<option value="https://www.realestate.lt.ua/district/town/berestechko/">місто Берестечко</option>
<option value="https://www.realestate.lt.ua/district/town/horokhiv/">місто Горохів</option>
<option value="https://www.realestate.lt.ua/district/town/kamin-kashyrskyi/">місто Камінь-Каширський</option>
<option value="https://www.realestate.lt.ua/district/town/kivertsi/">місто Ківерці</option>
<option value="https://www.realestate.lt.ua/district/town/liuboml/">місто Любомль</option>
<option value="https://www.realestate.lt.ua/district/town/rozhyshche/">місто Рожище</option>
<option value="https://www.realestate.lt.ua/district/town/ustyluh/">місто Устилуг</option>
