<option value="https://www.realestate.te.ua/region/city/berezhany/">місто Бережани</option>
<option value="https://www.realestate.te.ua/region/city/chortkiv/">місто Чортків</option>
<option value="https://www.realestate.te.ua/region/city/kremenets/">місто Кременець</option>
<option value="https://www.realestate.te.ua/region/city/ternopil/">місто Тернопіль</option>
<option value="https://www.realestate.te.ua/region/city/ternopil/agency/">місто Тернопіль - Агенції</option>
<option value="https://www.realestate.te.ua/region/city/ternopil/apartment/">місто Тернопіль - Квартири</option>
<option value="https://www.realestate.te.ua/region/city/ternopil/commercial/">місто Тернопіль - Комерційна нерухомість</option>
<option value="https://www.realestate.te.ua/region/city/ternopil/developer/">місто Тернопіль - Забудовники</option>
<option value="https://www.realestate.te.ua/region/city/ternopil/house/">місто Тернопіль - Будинки</option>
<option value="https://www.realestate.te.ua/region/city/ternopil/realtor/">місто Тернопіль - Продавці, агенти і ріелтори</option>
<option value="https://www.realestate.te.ua/district/chortkivskyy/">Чортківський район</option>
<option value="https://www.realestate.te.ua/district/kremenetskyy/">Кременецький район</option>
<option value="https://www.realestate.te.ua/district/ternopilskyy/">Тернопільський район</option>
<option value="https://www.realestate.te.ua/district/town/borshchiv/">місто Борщів</option>
<option value="https://www.realestate.te.ua/district/town/buchach/">місто Бучач</option>
<option value="https://www.realestate.te.ua/district/town/khorostkiv/">місто Хоростків</option>
<option value="https://www.realestate.te.ua/district/town/kopychyntsi/">місто Копичинці</option>
<option value="https://www.realestate.te.ua/district/town/lanivtsi/">місто Ланівці</option>
<option value="https://www.realestate.te.ua/district/town/monastyryska/">місто Монастириська</option>
<option value="https://www.realestate.te.ua/district/town/pidhaitsi/">місто Підгайці</option>
<option value="https://www.realestate.te.ua/district/town/pochaiv/">місто Почаїв</option>
<option value="https://www.realestate.te.ua/district/town/shumsk/">місто Шумськ</option>
<option value="https://www.realestate.te.ua/district/town/skalat/">місто Скалат</option>
<option value="https://www.realestate.te.ua/district/town/terebovlia/">місто Теребовля</option>
<option value="https://www.realestate.te.ua/district/town/zalishchyky/">місто Залiщики</option>
<option value="https://www.realestate.te.ua/district/town/zbarazh/">місто Збараж</option>
<option value="https://www.realestate.te.ua/district/town/zboriv/">місто Зборів</option>
<option value="https://www.realestate.te.ua/region/ternopilska/">Тернопільська область</option>
