
{%- include meta-name.html -%}
<link rel="preload" href="{{ "/assets/css/main.css" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}" as="style">
{%- if page.dir == '/' and page.url == '/' -%}
<link rel="preload" href="{{ "/assets/js/main.home.js" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}" as="script">
{%- else -%}
<link rel="preload" href="{{ "/assets/js/main.js" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}" as="script">
{%- endif -%}
<link href="{{ "/assets/css/main.css" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}" rel="stylesheet">
