<header>
  <div class="container bg-primary py-3">
    <div class="row justify-content-end">{%- include top-nav.html -%}</div>
    <div class="row">
      <div class="col-lg-3">
        <a href="/" class="flag-ua ml-1">
          <span class="icon"></span>
          <span class="d-flex flex-column lh-1 ml-2">
            <span class="text-white mt-0 font-weight-bold">{{ site.region }}</span>
            <span class="small mt-0 text-light">{{ site.data.lang-uk.flag_ua_net }}</span>
          </span>
        </a>
      </div>
      <div class="col-lg-6">
      </div>
      <div class="col-md-3">
      </div>
    </div>
  </div>
  <div class="bg-light">
    <div class="container">
      <div class="collapse" id="collapseAreaSelect">
        <div class="bg-light pb-3 px-0 border-0 card card-body">
          <div class="row">
            <div class="col-md-6 offset-md-3">
              <label for="areaSelect" class="sr-only">Пошук місцевості:</label>
              <select name="areas" id="rehiony" aria-label="Виберіть найменування місцевості">
                <option value="">Введіть назву міста або району чи області</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
