{%- assign back = page.dir | split: '/' -%}
{%- assign size = back | size | minus: 1 -%}
{%- assign here = back | slice: 0, size | join: '/' | append: '/' -%}
{%- assign ones = site.pages | sort: 'dir' | reverse -%}
<nav class="navbar navbar-expand-md navbar-light bg-white p-0">
  <div class="navbar-brand d-md-none">
    <span class="small">{{ site.data.lang-uk.brand_content }}</span>
    <span class="ml-1 float-right align-middle text-primary">→</span>
  </div>
  <button class="navbar-toggler ml-1 shadow-none collapsed" type="button" data-toggle="collapse" data-target="#navbarThreeRealEstate" aria-controls="navbarThreeRealEstate" aria-expanded="false" aria-label="Toggle button">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarThreeRealEstate">
    {%- assign mapPage = page.dir | append: 'map.html' | remove_first: '/' -%}
    {%- capture isMap -%}{%- file_exists {{ mapPage }} -%}{%- endcapture -%}
    {%- if isMap == 'true' and page.url contains '/all.html' -%}
    <ul class="navbar-nav nav nav-tabs border-0 mr-md-auto" id="realestate-map">
      <li class="nav-item">
        <a class="nav-link border-0" href="/{{ mapPage }}" title="{{ site.data.lang-uk.re_map }}"><span>{{ site.data.lang-uk.re_map }}</span></a>
      </li>
    </ul>
    {%- else -%}
    {%- assign mapPage = here | append: 'map.html' | remove_first: '/' -%}
    <ul class="navbar-nav nav nav-tabs border-0 mr-md-auto" id="realestate-map">
      <li class="nav-item">
        <a class="nav-link border-0" href="/{{ mapPage }}" title="{{ site.data.lang-uk.re_map }}"><span>{{ site.data.lang-uk.re_map }}</span></a>
      </li>
    </ul>
    {%- endif -%}
    <ul class="navbar-nav nav nav-tabs border-0">
      {%- for one in ones -%}
        {%- assign isJson = false -%}
        {%- if one.url contains '.json' -%}{%- assign isJson = true -%}{%- endif -%}
        {%- assign slug = one.url | split: '/' | last -%}
        {%- assign current = one.url | remove: slug | remove: '//' | append: '/' -%}
        {%- if one.title != '' and isJson == false -%}
          {%- include nav-item.html -%}
        {%- endif -%}
      {%- endfor -%}
    </ul>
  </div>
</nav>
<hr class="mt-2 mt-md-0">
