{%- if include.dir != page.dir and include.dir contains page.dir -%}
  {%- assign items = '' | split:'' -%}
  {%- assign pages = site.pages | sort: 'path' | reverse -%}
  {%- for p in pages -%}
    {%- assign l = p.dir | split: '/' -%}
    {%- if p.dir contains include.dir and p.dir != include.dir and l.size == 6 -%}
      {%- assign items = items | push: p -%}
    {%- endif -%}
  {%- endfor -%}
  {%- if items.size > 0 -%}
    {%- for item in items limit:6 -%}
      {%- assign section = item.url | split: "/" | last -%}
      {%- if forloop.first -%}
      <div class="row mx-n2 row-cols-1 row-cols-lg-3 row-cols-md-2 row-cols-sm-2">
      {%- endif -%}
        <div class="col px-2 mb-3">
          <div class="card h-100">
            {%- include folder.html dir='/assets/images/logo/' slug=section -%}
            {%- if file == true -%}
              <img loading="lazy" src="{{ picture }}" class="card-img-top" alt="{{ site.data.lang-uk.re_logo }} {{ item.title | replace: '&nbsp;', ' ' | remove: '"' }}">
            {%- else -%}
              <img loading="lazy" src="https://picsum.photos/400/200?random=2" class="card-img-top" alt="{{ site.data.lang-uk.re_logo }} {{ item.title | replace: '&nbsp;', ' ' | remove: '"' }}">
            {%- endif -%}
            <div class="card-body">
              <h5 class="card-title">
                <a href="{{ item.url }}">
                  {%- if item.title -%}{{ item.title }}{%- else -%}{{ item.navtitle }}{%- endif -%}
                </a>
              </h5>
              <div class="card-text mb-1">
                <nav>
                  <ul class="nav nav-tabs" id="{{ region }}-{{ section }}-tab" role="tablist">
                    <li class="nav-item d-none" role="presentation">
                      <a class="nav-link active" id="{{ region }}-{{ section }}-offers-tab" data-toggle="tab" href="#{{ region }}-{{ section }}-offers" role="tab" aria-controls="{{ region }}-{{ section }}-offers" aria-selected="false">
                        {{ site.data.lang-uk.offers }}
                      </a>
                    </li>
                    <li class="nav-item" role="presentation">
                      <a class="nav-link" id="{{ region }}-{{ section }}-actions-tab" data-toggle="tab" href="#{{ region }}-{{ section }}-actions" role="tab" aria-controls="{{ region }}-{{ section }}-actions" aria-selected="false">
                        {{ site.data.lang-uk.actions }}
                      </a>
                    </li>
                  </ul>
                </nav>
                <div class="tab-content" id="{{ region }}-{{ section }}-content">
                  <div class="tab-pane pt-3 fade active show" id="{{ region }}-{{ section }}-offers" role="tabpanel" aria-labelledby="{{ region }}-{{ section }}-offers-tab">
                    {%- assign records = site.data[section] | where_exp: 'i', 'i.location contains location' -%}
                    {%- if records.size > 0 -%}
                      {%- assign offers = records | sort: 'date' | reverse -%}
                      {%- for offer in offers limit: 1 -%}
                        {%- include card.html offer=offer aid='1' -%}
                      {%- endfor -%}
                      <div class="card border-0 text-center">
                        <a href="{{ item.url }}" class="btn btn-primary">Інші <strong>{{ offers | size }}</strong> пропозиції нерухомості</a>
                      </div>
                    {%- else -%}
                      <div class="alert alert-primary" role="alert">
                        <p>Поки що тут жодної нерухомості, але ви можете виправити це додавши свої пропозиції, а ми залюбки опублікуємо їх тут.</p>
                        <hr>
                        <p class="mb-0">Про те, як це зробити ви можете дізнатись перейшовши за цим посиланням '<a href="#" class="alert-link">додати свою нерухомість</a>'.</p>
                      </div>
                    {%- endif -%}
                  </div>
                  <div class="tab-pane pt-3 fade" id="{{ region }}-{{ section }}-actions" role="tabpanel" aria-labelledby="{{ region }}-{{ section }}-actions-tab">
                    ...Акції
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      {%- if forloop.last -%}
      </div>
      <div class="row">
        <div class="col-auto ml-auto">
          <a class="btn btn-primary" href="{{include.dir}}">{{ site.data.lang-uk.others }} {{ title | downcase }}</a>
        </div>
      </div>
      {%- endif -%}
    {%- else -%}
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <div class="alert alert-info" role="alert">
            <p>...</p>
          </div>
        </div>
      </div>
    {%- endfor -%}
  {%- endif -%}
{%- else -%}
{%- endif -%}
