<div class="col-auto order-1 order-lg-2 text-right">
  <div class="dropdown">
      <a href="#" class="btn btn-add btn-sm" role="button" data-toggle="dropdown" aria-expanded="false">
        {{ site.data.lang-uk.add_realestate }}
      </a>
      <div class="dropdown-menu">
        {%- assign regs = site.data.realestate | sort: 'navtitle' -%}
        {%- for reg in regs -%}
          {%- if reg.slug and reg.slug != '' -%}
              <a href="{ reg.url | replace_first: 'www', 'add' }}" target="_blank" class="dropdown-item">{{ reg.small }}</a>
          {%- endif -%}
        {%- endfor -%}
      </div>
  </div>
</div>
