{%- assign land = site.data.lang-uk.re_land -%}
{% if offer.type %}{% if offer.rent == '1' and offer.price != '' %}{{ site.data.lang-uk.re_for_rent }}{% elsif offer.rent == '1' and offer.price == '' %}{{ site.data.lang-uk.re_for_rentd }}{% else %}{{ site.data.lang-uk.re_for_sale }}{% endif %} <strong class="text-lowercase">{{ offer.type }}</strong>, {% endif %}
{% if offer.type == land %} {{ site.data.lang-uk.re_surface }} <strong class="mark" data-toggle="tooltip" title="0.{{ offer.surface_land }} га">{{ offer.surface_land }}</strong>&nbsp;{{ site.data.lang-uk.re_m }}<sup>2</sup>, {% else %}
{% if offer.surface %}{{ site.data.lang-uk.re_surface }} <strong>{{ offer.surface }}</strong>&nbsp;{{ site.data.lang-uk.re_m }}<sup>2</sup>, {% endif %}
{% if offer.rooms and offer.rooms != '' %}{{ site.data.lang-uk.re_rooms }} <strong>{{ offer.rooms }}</strong>, {% endif %}{% if offer.floor and offer.floor != '' and offer.type != site.data.lang-uk.re_house or offer.type != site.data.lang-uk.re_house_not %}{{ site.data.lang-uk.re_na }} <strong>{{ offer.floor }}</strong>{{ site.data.lang-uk.re_mu }} {{ site.data.lang-uk.re_floorci }}, {% endif %}{% if offer.floors and offer.floors != '' and offer.type == site.data.lang-uk.re_house or offer.type == site.data.lang-uk.re_house_not %}{{ site.data.lang-uk.re_floorss }} <strong>{{ offer.floors }}</strong>, {% endif %}
{% endif %}
{% if offer.location and offer.location != '' %}{{ site.data.lang-uk.re_location }} <strong>{{ offer.location }}</strong> {% endif %}
{% if offer.address and offer.address != '' %}{{ site.data.lang-uk.re_address }} <strong>{{ offer.address }}</strong>{% if offer.object and offer.object != '' %} ({{ site.data.lang-uk.re_rc }}&nbsp;{{ offer.object }}){% endif %}, {% endif %}{% if offer.region and offer.region != '' %}<strong>{{ offer.region }}</strong>, {% endif %}
{% if offer.price %}{% if offer.rent == '1' and offer.price != '' %}{{ site.data.lang-uk.re_pricer }} {% elsif offer.rent == '1' and offer.price == '' and offer.price_sqmt != '' %}{{ site.data.lang-uk.re_price_sqmtr | downcase }} {% elsif offer.type == site.data.lang-uk.re_land %}{{ site.data.lang-uk.re_pricel }} {% else %}{{ site.data.lang-uk.re_price }} {% endif %}
{%- if offer.price != '' -%}
  {% if offer.price contains '$' %}
    <span class="mark" data-toggle="tooltip" title="{{ offer.price }}">{{ offer.price | remove: '$' | times: site.usd | ceil }}</span>&nbsp;{{ site.data.lang-uk.re_uah }}.
  {% elsif offer.price contains '€' %}
    <span class="mark" data-toggle="tooltip" title="{{ offer.price }}">{{ offer.price | remove: '€' | times: site.eur | ceil }}</span>&nbsp;{{ site.data.lang-uk.re_uah }}.
  {% else %}
    <mark>{{ offer.price }}</mark> {{ site.data.lang-uk.re_uah }}.
  {% endif %}
{%- elsif offer.price == '' and offer.price_sqmt != '' -%}
  {% if offer.price_sqmt contains '$' %}
    <span class="mark" data-toggle="tooltip" title="{{ offer.price_sqmt }}">{{ offer.price_sqmt | remove: '$' | times: site.usd | ceil }}</span>&nbsp;{{ site.data.lang-uk.re_uah }}.
  {% elsif offer.price_sqmt contains '€' %}
    <span class="mark" data-toggle="tooltip" title="{{ offer.price_sqmt }}">{{ offer.price_sqmt | remove: '€' | times: site.eur | ceil }}</span>&nbsp;{{ site.data.lang-uk.re_uah }}.
  {% else %}
    <mark>{{ offer.price_sqmt }}</mark>&nbsp;{{ site.data.lang-uk.re_uah }}.
  {% endif %}
{%- endif -%}
{% endif %}{% if split.size <= 2 %} <span class="phone" data-toggle="tooltip" title="{{ site.data.lang-uk.re_seller }} {{ offer.seller }}"><details><summary></summary>{%- include footer/phone.html legal=offer.phone type='text' -%}.</details></span>{% elsif split.size == 3 and page.dir contains 'city' or page.dir contains 'town' %} <span class="phone" data-toggle="tooltip" title="{{ site.data.lang-uk.re_seller }} {{ offer.seller }}"><details><summary></summary>{%- include footer/phone.html legal=offer.phone type='text' -%}.</details></span>{% endif %}
