---
layout: compress
---
{%- capture fname -%}{%- include footer/contact.html legal="name" -%}{%- endcapture -%}
<!doctype html>
<html dir="ltr" lang="uk-UA">
  <head>
    {%- include head.html -%}
  </head>
  <body>

    <div id="top"></div>

    <div class="main">

      {%- include header.html -%}

      <main{% if page.url == "/" %} class="content my-4"{% else %} class="content mb-4"{% endif %}>

        <div class="container">
          {%- assign isContent = content | strip_newlines -%}
          {%- if isContent == '' -%}
            {%- include info-visitors.html -%}
          {%- else -%}
            {{ content }}
          {%- endif -%}
        </div>

      </main>

      {%- include footer.html -%}

    </div>

    {%- include scroll-top.html -%}
    {%- include java-script.html -%}

  </body>
</html>
