---
layout: default
---

<div class="row mb-lg-3">
  <div class="col-lg-auto mr-auto order-2 order-lg-1">
    <h1 class="mb-0 mb-lg-1">{{ page.title }}</h1>
  </div>
  <div class="col-lg-auto align-self-center order-1 order-lg-2 mb-2 mb-lg-0">
    {%- include navgroup.html -%}
  </div>
</div>

<div class="row mt-3 mt-lg-0">
  <div class="col-12">
    {{ content }}
    {%- include news-list.html -%}
    {%- include pagination.html -%}

    {%- comment -%}
      {% if paginator.total_pages > 1 %}
      <ul class="pager">
          {% if paginator.previous_page %}
          <li class="previous">
              <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
          </li>
          {% endif %}
          {% if paginator.next_page %}
          <li class="next">
              <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
          </li>
          {% endif %}
      </ul>
      {% endif %}

      {%- include news-list.html cat=page.pagination.category -%}
    {%- endcomment -%}
  </div>
</div>
