<div class="row">
  {%- assign ones = site.html_pages | sort: 'path' | reverse -%}
  {%- for one in ones -%}
    {%- assign slug = one.url | split: '/' | last -%}
    {%- assign current = one.url | remove: slug | remove: '//' | append: '/' -%}
    {%- if '/' == current and one.navhide != 1 -%}
      {% if one.url contains '/region/' %}
        {%- comment -%}
          <div class="col-12">
            <h1 class="mb-4">
              <a href="{{ one.url }}">{%- if one.title -%}{{ one.title }}{%- else -%}{{ one.navtitle }}{%- endif -%}</a>
            </h1>
          </div>
          <div class="col-12">
            {%- include home/region.html current=one.url -%}
          </div>
        {%- endcomment -%}
      {% else %}
      <div class="col-12">
        <h2 class="mb-4">
          <a href="{{ one.url }}">{%- if one.title -%}{{ one.title }}{%- else -%}{{ one.navtitle }}{%- endif -%}</a>
          {% if one.url contains "/district/" %} {{ site.data.lang-uk.deck_region_in }}{% endif %}
        </h2>
      </div>
      <div class="col-12">
        {%- include home/region.html current=one.url -%}
      </div>
      {% endif %}
      {%- if one.url -%}
        {%- assign twos = site.html_pages -%}
        {%- for two in twos -%}
          {%- if two -%}
            {%- assign slug = two.url | split: '/' | last -%}
            {%- assign current = two.url | remove: slug | remove: '//' | append: '/' -%}
            {%- if one.url == current and two.url contains 'city' or two.url contains 'town' -%}
            <div class="col-12">
              <h2 class="mb-4">
                <a href="{{ two.url }}">
                  {%- if two.title -%}{{ two.title }}{%- else -%}{{ two.navtitle }}{%- endif -%}
                </a>
                {% if two.url contains '/region/city/' or two.url contains '/district/town/' %} {{ site.data.lang-uk.deck_region_in }}{% endif %}
              </h2>
            </div>
            <div class="col-12">
              {%- include home/region.html current=two.url -%}
            </div>
            {%- endif -%}
          {%- endif -%}
        {%- endfor -%}
      {%- endif -%}
    {%- endif -%}
  {%- endfor -%}
</div>
