{%- assign threes = site.pages | sort: 'path' | where_exp: 'i', "i.url contains include.current and i.url != include.current and i.navhide != 1" -%}
{%- if threes.size > 0 -%}
<div class="row row-cols-1 row-cols-md-2">
  {%- for three in threes -%}
    {%- assign slug = three.url | split: '/' | last -%}
    {%- assign current = three.url | remove: slug | remove: '//' | append: '/' -%}
    {%- if include.current == current and three.navhide != 1 and three.title != '' -%}
    {% comment %}
      {%- if three.url contains 'ivano-frankivska' -%}
      <div class="col mb-4">
        <div class="card">
          <div class="card-body p-3">
            <h5 class="card-title">{{ site.data.lang-uk.recently_added }}</h5>
            <div class="card-text">...</div>
          </div>
        </div>
      </div>
      {%- endif -%}
    {% endcomment %}
      <div id="{{ slug }}" class="col mb-4">
        <div class="card">
          {%- assign file = site.static_files | where_exp: 'i', "i.path contains '/assets/images/locations/' and i.basename == slug" -%}
          {%- if file[0] -%}
            <img loading="lazy" src="{{ file[0].path | relative_url }}" class="card-img-top" alt="{{ site.data.lang-uk.realestate }} {{ site.data.lang-uk[slug] }}">
          {%- else -%}
            <img loading="lazy" src="{{ '/assets/images/locations/default.jpg' | url_decode | relative_url }}" class="card-img-top" alt="{{ site.data.lang-uk.realestate }} {{ site.data.lang-uk[slug] }}">
          {%- endif -%}
          <div class="card-body p-3">
            <h5 class="card-title">
              <a href="{{ three.url }}" title="{{ three.title | replace: site.data.lang-uk.realestate_at, site.data.lang-uk.apartment_house_in }}">
                {%- if three.title -%}{{ three.title | replace_first: 'Оголошення про н', 'Н' }}{%- else -%}{{ three.navtitle }}{%- endif -%}
              </a>
            </h5>
            {%- include home/card.html region=slug url=three.url title=three.title breadcrumb=three.breadcrumb -%}
          </div>
        </div>
      </div>
    {%- endif -%}
  {%- endfor -%}
</div>
{%- endif -%}
